.button {
  padding: 15px;
  font-size: 18px;
  border-radius: 40px;
  border-width: 3px;
  border-color: #DDA0DD;
  color: #DDA0DD;
  background-color: transparent;
  font-weight: bold;
  justify-self: stretch;
}

.button_container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  flex: 1;
  margin-right: 15%;
  margin-left: 15%;
}