.buttonCostume {
  padding: 15px;
  font-size: 18px;
  border-radius: 40px;
  border-width: 3px;
  border-color: white;
  color: white;
  background-color: transparent;
  font-weight: bold;
  justify-self: stretch;
  font-family: 'Cantarell', sans-serif;
  border: 3px solid white;
  padding: 15px;
  font-size: 18px;
  border-radius: 40px;
  font-weight: bold;
  justify-self: stretch;
  font-family: 'Cantarell', sans-serif;
  justify-self: stretch;
  text-align: center;
  text-decoration: none;
}

.buttonCostume:hover { 
  /* color: purple;
  border-radius: 40px;
  border-width: 3px;
  border-color: purple;
  font-family: 'Cantarell', sans-serif; */
  animation-name: borderFade;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes borderFade {
  0% {border: 3px solid white;}
  50% {border: 3px solid purple;}
  100% {border: 3px solid white;}
}

.button {
  padding: 15px;
  font-size: 18px;
  border-radius: 40px;
  border-width: 3px;
  border-color: white;
  color: white;
  background-color: transparent;
  font-weight: bold;
  justify-self: stretch;
  font-family: 'Cantarell', sans-serif;
}

button:focus {outline:0;}

.button:hover { 
  color: purple;
  border-radius: 40px;
  border-width: 3px;
  border-color: purple;
  font-family: 'Cantarell', sans-serif;
}

.button_container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-items: center;
  grid-gap: 1%;
  flex: 1;
  margin-right: 15%;
  margin-left: 15%;
  
}