.container {
    display: grid;
    /* margin-top: 2%; */
    margin-bottom: 2%;
    margin-right: 10%;
    margin-left: 10%;
    /* padding-top: 1%; */
    padding-bottom: 1%;
    background-color: white;
    color: black;
    grid-column-gap: 2%;
    font-family: 'Cantarell', sans-serif;
    /* border: solid 1px purple; */
    /* border-radius: 10%; */
    padding: 5%;
}