.container {

    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 10%;


    display: grid;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #808080;
    color: black;
    margin-right: 10%;
    margin-left: 10%;
    grid-column-gap: 2%;
   
   
}