.container {
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    justify-items: center;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #808080;
    color: black;
    margin-right: 10%;
    margin-left: 10%;
    grid-column-gap: 2%;
    background-size: cover; /* or contain depending on what you want */
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: 10px 10px 20px black;
    font-family: 'Cantarell', sans-serif;
}

/* add a grid */


img {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    border-radius: 25%;
    display: block;
    width: 60%;
    border: 2px solid white;
    background: #DCDCDC;
    box-shadow: 10px 10px 10px 5px black;
    margin-bottom: 2%;
  }

.text {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: left;
    margin-left: 10%;
    background-color: #2b1639 transparent;
    color: black;
    font-family: 'Cantarell', sans-serif;
}

.principles_header {
  grid-row: 1;
  grid-column-start: 2;
  grid-column-end: 3;
  font-family: 'Cantarell', sans-serif;
}

.principles_body {
  grid-row: 2;
  grid-column-start: 2;
  grid-column-end: 3;
}