.container {
    margin-top: 2%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    justify-items: center;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #2b1639;
    color: #DDA0DD;
    margin-right: 5%;
    margin-left: 5%;
    grid-column-gap: 2%;
    
    background-size: cover; /* or contain depending on what you want */
    background-position: center center;
    background-repeat: no-repeat;
}

/* add a grid */


img {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    border-radius: 35%;
    display: block;
    width: 70%;
    border: gray;
  }

.text {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: left;
    margin-left: 10%;
    background-color: #2b1639 transparent;
    color: #DDA0DD;
}

.principles_header {
  grid-row: 1;
  grid-column-start: 2;
  grid-column-end: 3;
}

.principles_body {
  grid-row: 2;
  grid-column-start: 2;
  grid-column-end: 3;
}