.container {
  display: grid;
  grid-template-columns: 25% 1fr 25%;
  justify-items: center;
  margin-top: 2%;
  margin-bottom: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  color: black;
  font-family: 'Roboto';
}

.content {
  grid-column-start: 2;
  grid-column-end: 3;
  display: grid;
  grid-template-columns: 1fr;
}

.img {
  display: block;
  width: 40%;
  margin-bottom: 2%;
  margin-right: auto;
  margin-left: auto;
  }

.container_two {
  display: grid;
  grid-template-rows: auto auto auto auto auto auto auto;
  background-color: #2b1639 transparent;
  color: black;
}

/* .row_zero {
  grid-row: 1;
} */

.row_one {
  grid-row: 1;
  font-family: 'Amiri';
}

.row_two {
  grid-row: 2;
  font-family: 'Roboto';
}

.row_three {
  grid-row: 3;
  font-family: 'Amiri';
}

.row_four {
  grid-row: 4;
  font-family: 'Roboto';
}

.row_five {
  grid-row: 5;
  font-family: 'Amiri';
}

.row_six {
    grid-row: 6;
    font-family: 'Roboto';
}