.container {
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
    background-color: #2b1639 transparent;
    color: black;
    /* margin-right: 5%;
    margin-left: 5%; */
    /* font-family: 'Roboto'; */
}

.row_one {
    grid-row: 1;
}

.row_two {
    grid-row: 2;
}

.row_three {
    grid-row: 3;
}

.row_four {
    grid-row: 4;
}

.row_five {
    grid-row: 5;
}

.row_six {
    grid-row: 6;
}