.container {
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 10%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto auto;
    justify-items: center;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #808080;
    color: black;
    margin-right: 10%;
    margin-left: 10%;
    grid-column-gap: 2%;
    background-size: cover; /* or contain depending on what you want */
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: 10px 10px 20px black;
}

.sidebar {
    height: 100%;
    

}