.navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 1%;
    padding-bottom: 1%;
    /* padding-right: 10%; */
    padding-left: 10%;
    color: black;
    
    background-color: #adb9c9;
    font-family: 'Amiri';
}

.one {
    grid-column: 1;
    display: grid;
    grid-template-rows: auto auto;
    color: #424242;
    background-color: #adb9c9;
    text-decoration: none;
    font-size: 30px;
    margin-right: 50%;
}

.onehalf{
    font-family: 'Roboto';
    font-size: 20px;
}

.one:hover { 
    color: #805291;
}

.two {
    grid-column: 2;
    color: #424242;
    background-color: #adb9c9;
    text-decoration: none;
    align-self: end;
    font-style: italic;
}

/* .two:hover { 
    animation-name: colorFade;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    border-right: 2px solid;
    border-left: 2px solid;
    padding-right: 10%;
    padding-left: 10%;
} */

.three {
    grid-column: 3;
    color: #424242;
    background-color: #adb9c9;
    text-decoration: none;
    align-self: end;
    font-style: italic;
}

/* .three:hover { 
    animation-name: colorFade;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    border-right: 2px solid;
    border-left: 2px solid;
    padding-right: 10%;
    padding-left: 10%;
} */