.navbar {
    display: grid;
    grid-template-columns: 10% 10fr 1fr 1fr 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #adb9c9;
    font-family: 'Amiri';
}

.one {
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    grid-template-rows: auto auto;
    color: #424242;
    background-color: #adb9c9;
    text-decoration: none;
    font-size: 30px;
    margin-right: 80%;
}

.onehalf{
    font-family: 'Roboto';
    font-size: 20px;
}

.one:hover { 
    color: #805291;
}

.two {
    grid-column-start: 3;
    grid-column-end: 4;
    color: #424242;
    background-color: #adb9c9;
    text-decoration: none;
    align-self: end;
    font-style: italic;
    font-size: 20px;
}

.two:hover { 
    color: #805291;
}

.three {
    grid-column-start: 4;
    grid-column-end: 5;
    display: grid;
    grid-template-rows: auto auto;
    text-decoration: none;
}

.threeone{
    color: #424242;
    background-color: #adb9c9;
    font-size: 20px;
    align-self: end;
    justify-self: center;
}

.threeone:hover { 
    color: #805291;
}

.threetwo{
    color: #424242;
    background-color: #adb9c9;
    text-decoration: none;
    align-self: end;
    justify-self: center;
    font-style: italic;
    font-size: 20px;
    text-decoration: none;
}

.threetwo:hover { 
    color: #805291;
}