.button_container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: 'Cantarell', sans-serif;
  white-space: nowrap;
}

.button {
    color: BLack;
    font-size: 18px;
    font-weight: bold;
    background-color: transparent;
    text-decoration: none;
    border-top: none;
    border-bottom: none;
    padding-right: 10%;
    padding-left: 10%;
    border-right: 2px solid transparent;
    border-left: 2px solid transparent;
    margin-right: 4%;
    margin-left: 4%;
}

.button:hover { 
    animation-name: colorFade;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    border-right: 2px solid;
    border-left: 2px solid;
    padding-right: 10%;
    padding-left: 10%;
    margin-right: 4%;
    margin-left: 4%;
}
  
  button:focus {outline:0;}

  @keyframes colorFade {
    0% {color: white;}
    50% {color:	#9370DB;}
    100% {color: white;}
}