.footer {
    display: grid;
    grid-template-columns: 10% 10fr 1fr 1fr 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #22364c;
    font-family: 'Amiri';
}

.one {
    grid-column-start: 2;
    grid-column-end: 3;

    display: grid;
    grid-template-rows: auto auto;
    color: white;
    text-decoration: none;

    /* margin-right: 80%; */
}

.oneone{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.onetwo{
    font-family: 'Roboto';
    font-size: 15px;
    align-self: end;
}

.two {
    grid-column-start: 3;
    grid-column-end: 4;

    display: grid;
    grid-template-rows: auto auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.twoone {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.twotwo {
    font-family: 'Roboto';
    font-size: 15px;
    align-self: end;
    color: white;
    text-decoration: none;
}

.three {
    grid-column-start: 4;
    grid-column-end: 5;

    display: grid;
    grid-template-rows: auto auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.threeone {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.threetwo {
    font-family: 'Roboto';
    font-size: 15px;
    align-self: end;
    color: white;
    text-decoration: none;
}